body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.flexbox{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgb(77, 80, 86);
}
.group{
    display: flex;
    width: 50px;
    position: relative;
}
.left-navigationbar{
    display: flex;
    background-color: rgb(44, 45, 51);
    height: 100vh;
    min-height: 500px;
    min-width: 50px;
    width: 50px;
    justify-content: center;
}

.buttongroup-top{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 50px;
}

.buttongroup-mid{
    align-self: center;
    margin: 0;
    padding: 0;
    width: 50px;
}
.buttongroup-bot{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 50px;
}
.profile-icon{
    display: block;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border: 3px solid black;
    border-radius: 25px;
}
.icons{
    display: block;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
}
#profile-contain{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icons-but{
    display: flex;
    position: relative;
    margin-top: 5px;
    padding-left: 5px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}
#icons-desc{
    position: absolute;
    margin-right: 10px;
    color: rgb(170, 169, 169);
    right: 0;
    display: none;
    font-size: 14px;
    font-family: Georgia;
    font-weight: 900;
}

#icons-but:hover{
    width: 140px;
    justify-content: left;
    background: rgb(34, 35, 40);
    border: solid black 2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none;
    z-index: 3;
}
#icons-but:hover > .icons{
    filter: invert(70%);
}
#icons-but:hover > #icons-desc{
    display: block;
}

#home{
    filter: invert(70%);
    border: black 4px solid;
    border-radius: 25px;
}

/* Home CSs*/
.homepage{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
.intro{
    position: absolute;
    justify-content: center;
    align-self: center;
    width: 300px;
    min-width: 100px;
    top: 20%;
    left: 20%;
}
#introtitle{
    font-family: sans-serif;
    font-size: 5vh;
    font-weight: 600;
}
#introtext{
    display: none;
    font-family: sans-serif;
    font-size: 3vh;
    font-weight: 600;
    z-index: 2;
}
#introtitle:hover + #introtext{
    display: block;
}